@page
@model IndexModel
@{
    ViewData["Title"] = "Zoo Visitors App";
}

<h1>Welcome to the Zoo Visitors App</h1>

<form method="post">
    
    <label>Enter the animal's hunger level (1-10):</label>
    <input type="number" name="hungerLevel" min="1" max="10" />
    
    <br><br>
    
    <label>Enter the day of the week (1-7, where 1 is Sunday):</label>
    <input type="number" name="dayOfWeek" min="1" max="7" />
    
    <br><br>
    
    <button type="submit">Submit</button>
</form>

@if (!string.IsNullOrEmpty(Model.HungerMessage))

{
 <p>@Model.HungerMessage</p>
    <p>@Model.SoundMessage</p>
    <p>@Model.DayMessage</p>

}
   